# ClickHouse Cloud Credentials
CLICKHOUSE_HOST=https://<your-clickhouse-host>.aws.clickhouse.cloud:<your-clickhouse-port>
CLICKHOUSE_DATABASE=default
CLICKHOUSE_TABLE=snowplow_article_interactions
CLICKHOUSE_KEY=<clickhouse-key>
CLICKHOUSE_USER=<clickhouse-user>
